$black: #2c2c2c;
$white: #fefefe;
$green: #bbf330;
$light-green: #b5ff00;
$dark-green: #7eb101;
$border-green: #597d00;
$accent: #ffe550;
$neutral-dark: #505050;
$shadow: radial-gradient(
  50% 50% at 50% 50%,
  #2f583f 0%,
  rgba(105, 105, 105, 0) 100%
);
