<section id="favorites" class="favorites">
  <div class="favorites-container container">
    <h2 class="favorites-container__title"></h2>
    <p class="favorites-container__text"></p>
    <div class="">
      <ul>
        <li>
          <div class="favorites-circle">
            <picture class="favorites-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/gamburger_food1_desk_x1.png 1x,
                  ./images/favorites/gamburger_food1_desk_x2.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/gamburgertablet_x1.png 1x,
                  ./images/favorites/gamburgertablet_x2.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/gamburger_mobile_x1.png 1x,
                  ./images/favorites/gamburger_mobile_x2.png 2x
                "
                type="image/png"
              />
              <img
                class="about-picture__row"
                src="./images/favorites/gamburger_mobile_x1.png"
                loading="lazy"
                alt="gamburger"
              />
            </picture>
          </div>
        </li>

        <li>
          <div class="favorites-circle">
            <picture class="favorites-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/Pastafood2_desk_x1.png 1x,
                  ./images/favorites/Pastafood2_desk_x2.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/Pasta_tablet_x1.png 1x,
                  ./images/favorites/Pasta_tablet_x2.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/Pasta_mobile_x1.png 1x,
                  ./images/favorites/Pasta_mobile_x2.png 2x
                "
                type="image/png"
              />
              <img
                class="about-picture__row"
                src="./images/favorites/Pasta_mobile_x1.png"
                loading="lazy"
                alt="pasta"
              />
            </picture>
          </div>
        </li>

        <li>
          <div class="favorites-circle">
            <picture class="favorites-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/pizzafood3_desk_x1.png 1x,
                  ./images/favorites/pizzafood3_desk_x2.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/pizza_tablet_x1.png 1x,
                  ./images/favorites/pizza_tablet_x2.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/favorites/pizza_mobile_x1.png 1x,
                  ./images/favorites/pizza_mobile_x2.png 2x
                "
                type="image/png"
              />
              <img
                class="about-picture__row"
                src="./images/favorites/pizza_mobile_x1.png"
                loading="lazy"
                alt="pasta"
              />
            </picture>
          </div>
        </li>

        <li>
          <picture class="favorites-image">
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/chickenfood4_desk_x1.png 1x,
                ./images/favorites/chickenfood4_desk_x2.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/chicken_tablet_x1.png 1x,
                ./images/favorites/chicken_tablet_x2.png 2x
              "
              type="image/png"
            />
            <img
              class="borshch-image__picture"
              src="./images/favorites/chicken_tablet_x1.png"
              loading="lazy"
              alt="chiken"
            />
          </picture>
        </li>

        <li>
          <div class="favorites-circle">
            <picture class="favorites-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/salatfood5_desk_x1.png 1x,
                  ./images/favorites/salatfood5_desk_x2.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/salat_tablet_x1.png 1x,
                  ./images/favorites/salat_tablet_x2.png 2x
                "
                type="image/png"
              />
              <img
                class="borshch-image__picture"
                src="./images/favorites/salat_tablet_x2.png"
                loading="lazy"
                alt="salat"
              />
            </picture>
          </div>
        </li>

        <li>
          <div class="favorites-circle">
            <picture class="favorites-image">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/favorites/borshchfood6_desk_x1.png 1x,
                  ./images/favorites/borshchfood6_desk_x2.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/favorites/borshch_tablet_x1.png 1x,
                  ./images/favorites/borshch_tablet_x2.png 2x
                "
                type="image/png"
              />
              <img
                class="borshch-image__picture"
                src="./images/favorites/borshch_tablet_x1.png"
                loading="lazy"
                alt="borshch-image"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
