<footer class="footer"></footer>
<div class="container">
  <div class="footer-block">
    <div class="footer-menu">
      <a href="#">
        <img src="./images/icons/Logo.svg" alt="logo" />
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#">Home</a>
          </li>
          <li class="nav-list__item">
            <a href="#">About</a>
          </li>
          <li class="nav-list__item">
            <a href="#">Service</a>
          </li>
          <li class="nav-list__item">
            <a href="#">Menu</a>
          </li>
          <li class="nav-list__item">
            <a href="#">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <form>
        <label
          >Subscribe
          <input
            name="email"
            required
            type="email"
            placeholder="Enter your email"
            class=""
          />
        </label>
        <button type="submit">Subscribe</button>
      </form>
      <div class="privacy">
        <p>By subscribing you agree to with our</p>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
  <div class="policy">
    <ul class="policy-list">
      <li class="policy-item">
        <a href="#">Privacy Policy</a>
      </li>
      <li class="policy-item">
        <a href="#">Terms of Service</a>
      </li>
      <li class="policy-item">
        <a href="#">Cookies Settings</a>
      </li>
    </ul>
    <p class="copyright">2022 FoodSta. All right reserved.</p>
  </div>
</div>
