<header>
  <div class="header-container container">
    <a href="#hero">
      <picture class="logo">
        <img src="images/icons/Logo.svg" alt="foodsta_logo" />
      </picture>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="#">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="#">About</a>
        </li>
        <li class="nav-list__item">
          <a href="#">Service</a>
        </li>
        <li class="nav-list__item">
          <a href="#">Menu</a>
        </li>
        <li class="nav-list__item">
          <a href="#">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="btn-order" type="button">Order Now</button>

    <!-- <div class="burger">
      <button class="btn-menu">
        <svg aria-label="burger-menu" width="28" height="28">
          <use href="images/icons/gg_menu.svg"></use>
        </svg>
      </button> -->
    </div>
  </div>
</header>
