<section id="offerings" class="offerings">
  <div class="offerings-container container">
    <div class="offerings-content">
      <h2 class="offerings-content__title"></h2>
      <p class="offerings-content__description"></p>
      <ul class="advantage">
        <li class="advantage-item">
          <img src="" alt="" />
          <h3 class="advantage-title"></h3>
          <p class="advantage-text"></p>
        </li>
        <li class="advantage-item">
          <img src="" alt="" />
          <h3 class="advantage-title"></h3>
          <p class="advantage-text"></p>
        </li>
      </ul>
      <button>Order Now</button>
    </div>
  </div>
</section>
